<div class="col-md-4 col-md-offset-4">
  <h1>Nuovo Triage</h1>
  <form (ngSubmit)="onSubmit()" #triageForm="ngForm">

    <div class="form-group">
      <label for="cf">Codice Fiscale Paziente</label>
      <input type="text" class="form-control" id="cf" required [(ngModel)]="model.patientCf" name="cf" #cf="ngModel">
      <div [hidden]="cf.valid || cf.pristine" class="alert alert-danger">
        Codife fiscale obbligatorio
      </div>
    </div>

    <div class="form-group">
      <label for="notes">Note</label>
      <input type="text" class="form-control" id="notes" required [(ngModel)]="model.notes" name="notes"
        #notes="ngModel">
      <div [hidden]="notes.valid || notes.pristine" class="alert alert-danger">
        Note obbligatorie
      </div>
    </div>

    <div class="form-group">
      <label for="triageColor">Colore Ingresso</label>
      <select class="form-control" id="triageColor" required [(ngModel)]="model.triageColor" name="triageColor"
        #triageColor="ngModel">
        <option *ngFor="let color of colors" [value]="color">{{color}}</option>
        <div [hidden]="triageColor.valid || triageColor.pristine" class="alert alert-danger">
          Colore obbligatorio
        </div>
      </select>
    </div>

    <div class="form-group">
      <label for="doctorId">Dottore</label>
      <select class="form-control" id="doctorId" required [(ngModel)]="model.doctorId" name="doctorId"
        #doctorId="ngModel">
        <option *ngFor="let doctor of doctorList" [value]="doctor.id">{{doctor.firstName}} {{doctor.lastName}}</option>
        <div [hidden]="doctorId.valid || doctorId.pristine" class="alert alert-danger">
          Selezionare un Dottore
        </div>
      </select>
    </div>
    <button type="button" class="btn btn-default" (click)="newTriage(); triageForm.reset()">RESET</button>
    <button type="submit" class="btn btn-success" [disabled]="!triageForm.form.valid">Submit</button>

  </form>
</div>
