<form (ngSubmit)="updatePatient()" #patientForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="cf">Codice Fiscale</label>
      <input type="text" class="form-control" id="cf" placeholder="cf" required [(ngModel)]="patient.cf" name="cf"
        #cf="ngModel">
      <div [hidden]="cf.valid || cf.pristine" class="alert alert-danger">
        Codice Fiscale obbligatorio
      </div>
    </div>
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" placeholder="" required [(ngModel)]="patient.firstName"
        name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Nome obbligatorio
      </div>
    </div>
    <div class="form-group">
      <label for="surname">Cognome</label>
      <input type="text" class="form-control" id="surname" placeholder="" required [(ngModel)]="patient.lastName"
        name="surname" #surname="ngModel">
      <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">
        Cognome obbligatorio
      </div>
    </div>
    <div class="form-group">
      <label for="firstName">Data di nascita</label>
      <input type="date" class="form-control" id="birthDate" required [(ngModel)]="patient.birthDate" name="birthDate"
        #date="ngModel">
      <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
        Data di nascita obbligatorio
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Salva/Aggiorna</button>
</form>
